<html lang="en" ng-app="app">
<head>
    <title>Website</title>
    <meta charset="utf-8">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- PatternFly -->
    <script src="bower_components/patternfly/dist/js/patternfly.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <link href="bower_components/patternfly/dist/css/patternfly.min.css" rel="stylesheet" media="screen, print">
    <link href="bower_components/patternfly/dist/css/patternfly-additions.min.css" rel="stylesheet" media="screen, print">

    <!-- Angular Application? You May Want to Consider Pulling Angular-PatternFly And Angular-UI Bootstrap instead of bootstrap.js -->
    <!-- See https://github.com/patternfly/angular-patternfly for more information -->
    <script src="app.module.js"></script>
    <script src="user/user.module.js"></script>
    <script src="user/user.service.js"></script>
    <script src="user/user-list.component.js"></script>
    <!--<script src="user/user-get.component.js"></script>-->
    <script src="user/user-create.component.js"></script>
</head>
<body >
<!--&lt;!&ndash;<user-get></user-get>&ndash;&gt;-->
<!--<user-list></user-list>-->

<!--<form class="form-horizontal" ng-controller="FormController" ng-submit="submit()">-->
    <!--<div class="form-group">-->
        <!--<label class="col-sm-2 control-label" for="exampleInputId">username</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" id="exampleInputId" class="form-control" ng-model="user.username">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group ">-->
        <!--<label class="col-sm-2 control-label" for="exampleInputName">password</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" id="exampleInputName" class="form-control" ng-model="user.password">-->

        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-2 col-sm-10">-->
            <!--<button type="submit" class="btn btn-primary">Do it</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->


</body>

</html>
